<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-12">
    <h3>Add Category</h3>
  </div>
  <div class="col-12">
    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  placeholder="Search..." [(ngModel)]="searchText">
    </div>
  </div>
  <div class="col-12">
    <form #addCategoryForm="ngForm">
      <div class="input-group">
        <input type="text" required name="newCategory" class="form-control" placeholder="Category to add" aria-label="Category to add" [(ngModel)]="newCategory">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="addCategory()" type="button" [disabled]="addCategoryForm.invalid">+</button>
        </div>
      </div>
      <div *ngIf="newCategory.invalid && (newCategory.dirty || newCategory.touched)" class="alert alert-danger">
        <div *ngIf="newCategory.errors.required">
          Category is required!
        </div>
      </div>
      <div *ngIf="categoryFound" class="alert alert-danger">
          Category already exists!
      </div>
    </form>
  </div>
 <div class="col-12 categories" *ngFor="let category of categories | categoryfilter : searchText; index as i">
    <div class="input-group" id="category_{{i}}">
      <input type="text" class="form-control" readonly [ngModel]="category.name" name="title_{{category.id}}" id="title_{{category.id}}" value="{{category.name}}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="editCategory(category.id)" id="edit_{{category.id}}">Edit</button>
        <button class="btn btn-outline-secondary d-none" type="button" (click)="updateCategory(category.id)" id="update_{{category.id}}">Update</button>
        <button class="btn btn-outline-secondary" type="button" (click)="removeCategory(category.id)" id="delete_{{category.id}}">Delete</button>
      </div>
    </div>
   <div class="alert alert-danger d-none" id="msg_{{category.id}}">
     Category already exists!
   </div>
  </div>  
</div>