<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-12">
    <h3>Edit Workout</h3>
  </div>
</div>
<br>
<form #editWorkoutForm="ngForm" novalidate>
  <div *ngIf="(workout.title.invalid && (workout.title.dirty || workout.title.touched) || (workout.category.invalid && (workout.category.dirty || workout.category.touched)))" class="alert alert-danger row">
    <div *ngIf="workout.title.errors.required">
      Title is required!
    </div>   
    <div *ngIf="workout.category.errors.required">
      Category is required!
    </div>
  </div>
  <div *ngIf="workoutFound" class="alert alert-danger">
    Workout already exists! Please provide a different title.
  </div>
  <div class="form-group row required">
    <label for="title" class="col-sm-4 col-form-label">Title</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="workout.title" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="note" class="col-sm-4 col-form-label">Note</label>
    <div class="col-sm-8">
      <textarea rows="5" class="form-control" id="note" name="note" [(ngModel)]="workout.note"></textarea>
    </div>
  </div>
  <div class="form-group row required">
    <label for="category" class="col-sm-4 col-form-label">Category</label>
    <div class=" input-group col-sm-8">
      <select class="form-control" id="category" name="category" [(ngModel)]="workout.category" required>
        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="openCategoryModal(content)">+</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-2 mt-1">
      <button class="btn btn-dark btn-block" (click)="update()">Update</button>
    </div>
    <div class="col-md-4 mt-1">
      <button class="btn btn-dark btn-block" [routerLink] = "['/view']">Cancel</button>
    </div>
  </div>
</form>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Category</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" xmlns="http://www.w3.org/1999/html">
      <div class="col-12">
        <form #addCategoryForm="ngForm">
          <div class="input-group">
            <input type="text" required name="newCategory" class="form-control" placeholder="Category to add" aria-label="Category to add" [(ngModel)]="newCategory">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="addCategory()" type="button" [disabled]="addCategoryForm.invalid">+</button>
            </div>
          </div>
          <div *ngIf="newCategory.invalid && (newCategory.dirty || newCategory.touched)" class="alert alert-danger">
            <div *ngIf="newCategory.errors.required">
              Category is required!
            </div>
          </div>
          <div *ngIf="categoryFound" class="alert alert-danger">
            Category already exists!
          </div>
          <div *ngIf="categoryAdded" class="alert alert-success">
            Category added!
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>