p {
  font-family: Lato;
}
a {
  text-decoration: none;
}
.blinking {
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}