<main role="main" class="container-fluid">
	<div class="starter-template row">
		<div class="head grey col-lg-12">
			<h1>Workout Tracker</h1> 
      <h4 class="blinking">Under construction!</h4>     
      <div class="row">
        <div class="grey col-lg-6">
          Developed by <a href="https://github.com/natlus08">Hameedu Sultan</a>
        </div>
        <div class="grey col-lg-6">
          <a href="https://stackblitz.com/edit/workout-tracker" title="This is a lazy loaded application connected to firebase">View the code <i class="fa fa-info-circle"></i></a> 
        </div>
      </div>
		</div>
		<div class="grey col-lg-12">
      <app-navbar [selectedView]="router?.url?.substring(1)" *ngIf="router?.url?.substring(1) === 'view' ||router?.url?.substring(1) === 'create' || router?.url?.substring(1) === 'category' || router?.url?.substring(1) === 'track'"></app-navbar>
			<router-outlet></router-outlet>
		</div>
	</div>
</main>